In [6]:
import pandas as pd
import numpy as np
import os 
import csv

Didn't use the CVS instead used Excel for all data

tokyo_2020_df = pd.read_csv("2020 Tokyo Medals.csv")
tokyo_2020_df = tokyo_2020_df.sort_values(by=['Country'])
tokyo_2020_df = tokyo_2020_df.replace('United States of America', 'United States')
tokyo_2020_df = tokyo_2020_df.replace("People's Republic of China",'China')
tokyo_2020_df = tokyo_2020_df.replace('ROC','Russia')
tokyo_2020_df = tokyo_2020_df.replace('Republic of Korea','North Korea')
tokyo_2020_df = tokyo_2020_df.replace('Islamic Republic of Iran','Iran')
tokyo_2020_df = tokyo_2020_df.replace('ROC','Russia')

tokyo_2020_df

In [7]:
xlsx = pd.ExcelFile('2020 Data for Medals.xlsx')
athletes_2020_df = pd.read_excel(xlsx, 'Athletes')
Pop_GDP_2020_df = pd.read_excel(xlsx, 'Total Data')
Pop_GDP_2020_df = Pop_GDP_2020_df.rename(columns={"Unnamed: 0":"Rank"})
Pop_GDP_2020_df

,Rank,Country,Year,Gold,Silver,Bronze,Total,Population,GDP
0,90,Argentina,2020,0,1,2,3,45195774,637.43
1,9,Armenia,2020,0,2,2,4,2963243,11.54
2,39,Australia,2020,17,7,22,46,25499884,1323.42
3,74,Austria,2020,1,1,5,7,9006398,416.84
4,22,Azerbaijan,2020,0,3,4,7,10139177,40.75
...,...,...,...,...,...,...,...,...,...
88,13,Uganda,2020,2,1,1,4,45741007,26.00
89,21,Ukraine,2020,1,6,12,19,43733762,112.15
90,83,United States,2020,39,41,33,113,331002651,19485.39
91,19,Uzbekistan,2020,3,0,2,5,33469203,49.68
92,64,Venezuela,2020,1,3,0,4,31108083,316.48

In [8]:
athletes_2020_df =  athletes_2020_df.rename(columns={"Country":"Country 2"})

athletes_2020_df

           Country   No. of Athletes
0       Afghanistan                5
1           Albania                9
2           Algeria               44
3    American Samoa                6
4           Andorra                2
..              ...              ...
201         Vietnam               18
202  Virgin Islands                4
203           Yemen                5
204          Zambia               24
205        Zimbabwe                5

[206 rows x 2 columns]

In [12]:
tokyo_2020_df = Pop_GDP_2020_df.merge(athletes_2020_df, left_on='Country', right_on='Country 2')

tokyo_2020_df

KeyError: 'Country 2'