In [9]:
import pandas as pd
import numpy as np
import os 
import csv

Didn't use the CVS instead used Excel for all data

tokyo_2020_df = pd.read_csv("2020 Tokyo Medals.csv")
tokyo_2020_df = tokyo_2020_df.sort_values(by=['Country'])
tokyo_2020_df = tokyo_2020_df.replace('United States of America', 'United States')
tokyo_2020_df = tokyo_2020_df.replace("People's Republic of China",'China')
tokyo_2020_df = tokyo_2020_df.replace('ROC','Russia')
tokyo_2020_df = tokyo_2020_df.replace('Republic of Korea','North Korea')
tokyo_2020_df = tokyo_2020_df.replace('Islamic Republic of Iran','Iran')
tokyo_2020_df = tokyo_2020_df.replace('ROC','Russia')

tokyo_2020_df

In [10]:
xlsx = pd.ExcelFile('2020 Data for Medals.xlsx')
athletes_2020_df = pd.read_excel(xlsx, 'Athletes')
Pop_GDP_2020_df = pd.read_excel(xlsx, 'Total Data')
Pop_GDP_2020_df

,YearCountry,Country,Year,Gold,Silver,Bronze,Total,Population,GDP
0,2020Argentina,Argentina,2020,0,1,2,3,45195774,637.43
1,2020Armenia,Armenia,2020,0,2,2,4,2963243,11.54
2,2020Australia,Australia,2020,17,7,22,46,25499884,1323.42
3,2020Austria,Austria,2020,1,1,5,7,9006398,416.84
4,2020Azerbaijan,Azerbaijan,2020,0,3,4,7,10139177,40.75
...,...,...,...,...,...,...,...,...,...
88,2020Uganda,Uganda,2020,2,1,1,4,45741007,26.00
89,2020Ukraine,Ukraine,2020,1,6,12,19,43733762,112.15
90,2020United States,United States,2020,39,41,33,113,331002651,19485.39
91,2020Uzbekistan,Uzbekistan,2020,3,0,2,5,33469203,49.68
92,2020Venezuela,Venezuela,2020,1,3,0,4,31108083,316.48

In [11]:
#athletes_2020_df =  athletes_2020_df.rename(columns={"Country":"Country 2"})

athletes_2020_df

            Country  Athletes
0       Afghanistan         5
1           Albania         9
2           Algeria        44
3    American Samoa         6
4           Andorra         2
..              ...       ...
201         Vietnam        18
202  Virgin Islands         4
203           Yemen         5
204          Zambia        24
205        Zimbabwe         5

[206 rows x 2 columns]

In [14]:
tokyo_2020_df = Pop_GDP_2020_df.merge(athletes_2020_df, left_on='Country', right_on='Country')
tokyo_2020_df = tokyo_2020_df[["YearCountry","Country", "Year","Gold","Silver","Bronze","Total","Athletes","Population","GDP"]]
tokyo_2020_df

,YearCountry,Country,Year,Gold,Silver,Bronze,Total,Athletes,Population,GDP
0,2020Argentina,Argentina,2020,0,1,2,3,174,45195774,637.43
1,2020Armenia,Armenia,2020,0,2,2,4,17,2963243,11.54
2,2020Australia,Australia,2020,17,7,22,46,478,25499884,1323.42
3,2020Austria,Austria,2020,1,1,5,7,60,9006398,416.84
4,2020Azerbaijan,Azerbaijan,2020,0,3,4,7,44,10139177,40.75
...,...,...,...,...,...,...,...,...,...,...
87,2020Uganda,Uganda,2020,2,1,1,4,21,45741007,26.00
88,2020Ukraine,Ukraine,2020,1,6,12,19,155,43733762,112.15
89,2020United States,United States,2020,39,41,33,113,613,331002651,19485.39
90,2020Uzbekistan,Uzbekistan,2020,3,0,2,5,63,33469203,49.68
91,2020Venezuela,Venezuela,2020,1,3,0,4,44,31108083,316.48